h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}
/* 
footer p {
  font-size: 16px;
} */

/*test
*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}
/* body {
  background-color:#1098ad;
} */


#z0 {
  background-image: url('./car.jpg');
}
#z1 {
  background-image: url('./car.jpg');
}
#z2 {
  background-image: url('./car.jpg');
}
#z3 {
  background-image: url('./car.jpg');
}
#z4 {
  background-image: url('./car.jpg');
}
#z5 {
  background-image: url('./car.jpg');
}
#z6 {
  background-image: url('./car.jpg');
}
#z7 {
  background-image: url('./car.jpg');
}
#z8 {
  background-image: url('./car.jpg');
}
#z9 {
  background-image: url('./car.jpg');
}
#z10 {
  background-image: url('./car.jpg');
}
#z11 {
  background-image: url('./car.jpg');
}
#z12 {
  background-image: url('./car.jpg');
}
#z13 {
  background-image: url('./car.jpg');
}
#z14 {
  background-image: url('./car.jpg');
}
#z15 {
  background-image: url('./car.jpg');
}
#z16 {
  background-image: url('./car.jpg');
}
#z17 {
  background-image: url('./car.jpg');
}
#z18 {
  background-image: url('./car.jpg');
}
#z19 {
  background-image: url('./car.jpg');
}
#z20 {
  background-image: url('./car.jpg');
}
#z21 {
  background-image: url('./car.jpg');
}
#z22 {
  background-image: url('./car.jpg');
}
#z23 {
  background-image: url('./car.jpg');
}
#z24 {
  background-image: url('./car.jpg');
}
#z25 {
  background-image: url('./car.jpg');
}
#z26 {
  background-image: url('./car.jpg');
}
#z27 {
  background-image: url('./car.jpg');
}
#z28 {
  background-image: url('./car.jpg');
}
#z29 {
  background-image: url('./car.jpg');
}
#z30 {
  background-image: url('./car.jpg');
}
#z31 {
  background-image: url('./car.jpg');
}